.profile__status {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  word-wrap: break-word;
  max-width: 336px;
}

@media screen and (max-width: 467px) {
  .profile__status {
    font-size: 14px;
    line-height: 1.21;
  }
}