.profile__personal-data {
  max-width: 336px;
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  column-gap: 19px;
  row-gap: 9px;
}

@media screen and (max-width: 767px) {
  .profile__personal-data {
    justify-content: center;
    column-gap: 10px;
    row-gap: 14px;
    text-align: center;
  }
}