.profile__personal-data {
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  column-gap: 19px;
  row-gap: 9px;
}

@media screen and (max-width: 821px) {
  .profile__personal-data {
    column-gap: 10px;
    row-gap: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__personal-data {
    row-gap: 7px;
  }
}
